.App {
  &.light-theme {
    --text-primary: #333333;
    --theme-color-primary: #7ed4fc;
    --theme-color-secondary: #3c83f6;
    --bg-primary: #ffffff;
    --bg-secondary: #ffffff;
    --accent-primary: #9462d2;
    --border: #817d7d34;
    --shadow: rgba(128, 128, 128, 0.156);
    --completed-bg: #dfffeb;
    --deny-bg: #ff0000;
  }

  &.dark-theme {
    --text-primary: #cccccc;
    --theme-color-primary: #035981;
    --theme-color-secondary: #0950c3;
    --bg-primary: #18191a;
    --bg-secondary: #242526;
    --accent-primary: #9462d2;
    --border: #ffffff22;
    --shadow: rgba(27, 27, 27, 0.384);
    --completed-bg: #022b10;
    --deny-bg: rgb(255, 49, 49);
  }
}

$text-primary: var(--text-primary);
$theme-color-primary: var(--theme-color-primary);
$theme-color-secondary: var(--theme-color-secondary);
$bg-primary: var(--bg-primary);
$bg-secondary: var(--bg-secondary);
$accent-primary: #7d3fc9;
$border: var(--border);
$shadow: var(--shadow);
$completed-bg: var(--completed-bg);
$deny-bg: var(--deny-bg);

//$text-secondary:
//$text-muted:
//$text-light:
//$text-dark
//$text-error

//$border-primary
//$border-decondary
//$border-light
//$border-dark
//$border-muted

//$accent-secondary
//$accent-hover
//$accent-active
//$highlight

// $text-color: var(--text-color);
// $text-muted-color: grey;
// $error-color: red;
// $success-color: green;
// $warning-color: yellow;
// $active-color: grey;
// $hover-color: grey;