@import '../../styles/variables';

.header {
     height: 70px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     padding: 0 40px;
     z-index: 10;

     &.scroll-change {
          background: $header-bg;
     }

     .logo-block {
          width: 125px;

          .logo-name {
               text-decoration: none;
               color: $text-primary;
               font-size: 3rem;
               font-weight: 800;

               span {}
          }
     }

     .navbar-block {
          display: flex;
          gap: 40px;

          .navbar-item-link {
               text-decoration: none;
               color: $text-primary;
               font-size: 1.8rem;
               padding: 10px 15px;
               border-radius: 10px;
               transition: 0.3s;
               position: relative;

               &:hover {
                    background-color: rgba(178, 178, 178, 0.055);
               }

               &.active {
                    color: $accent-primary;
                    font-weight: 500;

                    &::after {
                         content: '';
                         position: absolute;
                         border-radius: 30px;
                         left: 15%;
                         bottom: 0;
                         width: 70%;
                         height: 2px;
                         background-color: $accent-primary;
                    }
               }

               .navbar-item {}
          }
     }

     .btn-block {
          width: 125px;
          display: flex;
          justify-content: flex-end;
     }

     .navbar-mobile {
          display: none;


     }

     @media screen and (max-width: 869px) {
          justify-content: space-between;
          padding: 0 20px;

          .navbar-block,
          .btn-block {
               display: none;
          }

          .navbar-mobile {
               display: inline-block;
          }
     }
}