@import '../../styles/variables';

.header {
  position: sticky;
  top: 0;
  height: 65px;
  padding: 10px 40px 0 40px;
  z-index: 10;

  .header-block {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.47);
    border-radius: 10px;
    padding: 0 20px;
    backdrop-filter: blur(10px);

    .logo-block {
      .logo-text {

      }
    }

    .navbar-list {
      display: flex;
      gap: 40px;

      .navbar-item {
        font-size: 20px;
        text-decoration: none;
        color: $text-primary;
        transition: 300ms;
        padding: 5px 10px;
        border-radius: 13px;
        position: relative;

        &:hover {
          opacity: 0.8;
        }

        &.active {
          color: $accent-primary;

          &::after {
            content: "_";
            font-size: 50px;
            position: absolute;
            bottom: -10px;
            left: 28px;
          }
        }
      }
    }
  }
}