.hero {
     height: calc(100vh - 70px);
     padding-bottom: 70px;
     // background-image: $bg-animation;
     background-size: cover;
     background-position: center;

     &.light-theme {
          background-image: url(../../../../assets/photo/background-light-theme.svg);
     }

     &.dark-theme {
          background-image: url(../../../../assets/photo/background-dark-theme.svg);
     }

     .container {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .img-block {
               .img {
                    width: 100%;
                    max-width: 300px;
                    aspect-ratio: 1;
                    object-fit: cover;
                    object-position: right;
                    border-radius: 50%;
                    margin-bottom: 50px;

                    &:hover {

                    }
               }

               .ant-image-mask {
                    border-radius: 50%;
               }
          }


          .text-typing {
               font-weight: 600;
               font-size: 5.5rem;
               text-align: center;
               height: 130px;
          }

          .description {
               font-size: 2.1rem;
               font-weight: 300;
          }

     }
}