.hero {
     height: calc(100vh);
     padding: 70px 0;
     // background-image: $bg-animation;
     background-size: cover;
     background-position: center;

     &.light-theme {
          background-image: url(../../../../assets/photo/background-light-theme.svg);
     }

     &.dark-theme {
          background-image: url(../../../../assets/photo/background-dark-theme.svg);
     }

     .container {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .img-block {
               margin-bottom: 50px;

               .img {
                    width: 100%;
                    max-width: 300px;
                    aspect-ratio: 1;
                    object-fit: cover;
                    object-position: 0 -25px;
                    border-radius: 50%;

                    &:hover {}
               }

               .ant-image-mask {
                    border-radius: 50%;
               }
          }


          .text-typing {
               font-weight: 600;
               font-size: 5.5rem;
               text-align: center;
               height: 130px;
          }

          .description {
               font-size: 2.1rem;
               font-weight: 300;
          }
     }

     @media screen and (max-width: 768px) {
     }
}